body {
    font-family: 'Poppins', sans-serif !important; 
    font-weight: 400;
    overflow-x: hidden;
    background-color: hsl(180, 20%, 95%)!important;
}

.container {
    position: relative;
    text-align: center;
  }

.pagewrapper {
    margin-top: 100px;
}

h1{
    font-family: 'Poppins', sans-serif !important; 
    font-weight: 600;
    text-align: center;
}



h2{
    font-family: 'Birthstone', cursive !important; 
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 1.2rem !important;
}

.btn-primary, .btn {
    background-color:#FCBB06 !important;
    border: none !important; 
    outline: none !important;
}

.btn:hover{
    background-color: white!important;    
    color: black!important; 
    font-weight: 600;

    
}


.titlewrap h1{
    font-weight: 600;
    font-size:  px;
}



/* ############ Navbar Starts ##############*/


.navbar .navbar-brand img{
    height: 40px;

}
  

.navbar a img{
    height: 35px;
}


.navbar li{
    padding: 5px 20px;

}


.navbar li a{
    text-decoration: none;
    line-height: 30px;
    font-size: 12px;
    font-weight: 400;
    color: black;
}

#logr:hover {
color:black !important;

}


#logr{
    color:black;
    font-weight: 600;

}

.navbar ul li a:hover {
    color:#98BCD5 !important;
    font-weight: 600;
}


.logo{
    height:50px;
}

/* ############ Navbar Ends ##############*/


/* ############ Banner Starts ##############*/

.banner .banner_title{
    background-color:#98BCD5; 
    background-image: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    margin-top: 60px;

}


.banner .btn .titlewrap a{
    margin: 10px auto 5px auto ;
    color: black;

}


.banner .banner_img {
    background-color:#FCBB06;
    background-image: cover;
    margin-top: 60px;
  
}

.banner .banner_img img{
  position: relative;
  right:-204px;
  width: 100%;
}




/* #### Banner Ends ####*/


.model-images img {
    background-color:#EDE9DA; 
    overflow: hidden;
    align-items: center;
    height:300px;
    width:100%;
    object-fit: cover;
}


.carousel-inner img {
    background-color:#EDE9DA; 
    overflow: hidden;
    height:300px;
    object-fit: cover;
}

.carousel-wrapper{
        display:flex;
    }

.model-carousel .carousel-item{
        display: block;
        flex: 0 0 calc(100%/3);
        margin-right: 0;

    }

.carousel-item{
        display:flex;
    }


.carousel-wrapper img{
    display: block;
    flex: 0 0 calc(100%/3);
    margin-right: 0;
}






.newcollections h2 {
    text-align: center;
}


.newcollections h4 {
    font-size: 12px;
    padding-bottom: none;
    font-weight: 200;
}


.newcollections .product-bottom h6 {
    color: black;
    font-weight: 500;
    
}

.newcollections .productimage img{
    background-color:#EDE9DA; 
    overflow: hidden;
    align-items: center;
    height:230px;
    width:100%;
    object-fit: cover;
}





.newcollections .productimage h4{
    font-size: 16px;
}

.newcollections .productimage h6{
    font-size: 14px;
}


.product-bottom{
    margin:1px;
    padding: 1px;

}

.textover a:hover {
    color:white;
}


/* ############ Promo Starts ##############*/


.promo{
   height: 300px;
   background-image: radial-gradient(#FCBB06,#F5E6C0 );
 

}




.promo img{
    height: 50%;
    width: auto;
    float: right;

}
  
 

.promo .btn{
    background-color: white !important;
}

.promo a{
    font-weight: 500;
}

/* ############ Promo Ends ##############*/

/* ############ Latest Blogs Starts ##############*/

.blogs card {
    border:none !important;
}

.blogs{
    display:block;
}

.card-body p{
    font-weight: 300;
    font-size: 14px;
}


.btn1{
    color: #98BCD5;
}

.btn1:hover{
    color: #FCBB06;

}




/* ############ Latest Blogs  Ends ##############*/






/* ############ About Us Starts ##############*/

.about_us{
    padding: 5px
}

.aboutYaruki p{
    text-align: center;
}


.about_us .aboutYaruki img {
    justify-content: center;
}

.aboutYaruki img{
    height: 80px;   
}

.aboutYaruki  {
    background-color: #98BCD5;
}
.about_us h1{
    text-align : center ;
}

.about_us p{
    text-align : justify ;

}
/* ############ About Us Ends ##############*/

/* ############ Newsletter Starts ##############*/
.newsletter {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
   
}

.newsletter .form-control{
    margin:10px auto;
    width: 100%;
 
}


.newsletter a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}



.joincommunity form-control {
    width: 100px;
}


/* ############ Footer Starts ##############*/

footer{
    background-color: #FCBB06;
    height: 50px;
    margin-top:40px;
        
    }


/* ############ Footer Ends ##############*/


/* ############ LoginReg Starts ##############*/


.loginReg-form{
    padding:0;
    box-sizing: border-box;
    background-color: #98BCD5;
 
   
}

.loginReg-form .form-row{
    margin-top: 100px;
}

#login-form{
    z-index: 9099;
}



/* ############ LoginReg Ends ##############*/

/* ############ FAQs Starts ##############*/

.questions {
    text-align: center;
}


.FAQs .accordion-item{
    margin:20px;
    box-shadow: 2px 2px #f3f2f2;
    
}


.accordion-item button{
  color: black;
  font-weight: 500;
    
}


.more-help .col{
    text-align: center;
}

/* ############ FAQs Ends ##############*/

/* ############ Contact Us Starts ##############*/



.contact .form-control{
    font-size: 13px;
}

.contact .form-label{
    font-size: 14px;
    font-weight: 500;
}

.contact select{
    font-size: 13px;
}

.contact .row{
    justify-content: center;
}

/* ############ Contact Us Ends ##############*/


@media screen and (max-width:992px) {
    .banner .banner_img img {
        width:120%;
        margin-left:25%;
        position:relative;
        left:-10px
    }

nav{
    color:#98BCD5;
}

}

.loginReg-form .form-row{
    margin-top: 100px;
}


@media screen and (max-width:768px) {
    .banner .banner_img img {
        width:130%;
        position:relative;
        right: -200px;
    }
       }

    .model-carousel .carousel-inner{
        display:flex;
    }

    .model-carousel .carousel-item{
        display: block;
        flex: 0 0 calc(100%/3);
        margin-right: 0;

    }

  




@media screen and (max-width:576px) {
    .banner .banner_img img {
        width:50%;
        left:-10px;
    
    }

    .newsletter .promowrapper{
        text-align: center;
        padding-left: 50px;
    }

    .banner .banner_title{
        margin-top:0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .newsletter .h2 p{
        font-size: 50%;
    }
    .newsletter {
    align-items: center;
    }

    .banner .btn .titlewrap{
        font-size: 10%;
    }

    .banner .titlewrap {
        font-size:50%;
    
    }

}



/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;

  }
  

  .textover { position: relative; } /* REQUIRED */
  .textover figcaption {
    position: absolute;
    bottom: 0;
    left: 0;

  }
    .textover figcaption {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        color: white;
        text-align: center;
        background: #98BCD5;

    }
        .textover a {
        text-decoration: none !important;
        color: black;
    }

    figcaption{
        opacity: 0;
    }

    figcaption:hover{
        opacity: 1;
        color: #fcbb06!important;
        font-weight: 500;
    }

    .product-top:hover{
        opacity: 1;
        color: #fcbb06!important;
        font-weight: 500;
    }



/* 1200 
1024
991
----

1600 - medium laptop size
1440 - laptop size
1366 - small common laptop size
1292 - 

1180 - ipad air
991 - portrait tablet
860 - portait size for Ipad article
680 - (mobile)
480 - (mobile)*/


